numpy
pandas
matplotlib
altair
scipy
scikit-learn
jupyter
statsmodels
pygam
tensorflow-macos
graphviz
xgboost
catboost
wittgenstein
seaborn
yellowbrick
caimcaim
imblearn
opencv-python
mixed-naive-bayes